<!DOCTYPE html>
<html lang="en" class="animate-fade-in">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <script defer src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <title>Weather Pulse</title>
</head>

<body id="body">
    <div
        class="z-0 absolute bg-[url('https://images.pexels.com/photos/164024/pexels-photo-164024.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')] w-full bg-center bg-no-repeat bg-cover min-h-screen bg-blend-multiply bg-[#00000040]">
    </div>
    <header class=" px-3 py-8 z-10 w-full bg-transparent absolute ">
        <nav class="flex gap-8 items-center justify-start max-w-[1280px] m-auto relative mx-auto" aria-label="main">
            <h1 class="text-white font-title font-semibold text-[16px] sm:text-[25px] ">Weather Pulse</h1>
            <img src="img/logo.webp" alt="brand-logo" class="bg-center h-6 w-6 sm:h-12 sm:w-12" />
        </nav>
    </header>
    <main class="px-3 min-h-screen relative flex justify-center items-center">
        <section class="z-10 max-w-[1280px] m-auto w-full flex-col flex gap-6">
            <h1 class="text-[#C67D2F] font-title text-[26px] sm:text-[48px] font-semibold sm:w-[591px] leading-[110%] ">
                Stay Ahead with Accurate Weather Updates
            </h1>
            <h2 class="text-white opacity-80 font-title font-light w-full text-[14px] sm:w-[690px] sm:text-[16px]">
                Get real-time weather forecasts, alerts, and updates for your location. Whether you're planning your day
                or preparing for an adventure, our reliable weather information keeps you informed and ready.
            </h2>
            <form action="location" method="post" id="submit-city-name" class="sm:w-[589px] w-full relative">
                <button aria-label="clean search text" type="reset" class="absolute top-3 right-3 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class=" text-white " width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="m6.4 18.308l-.708-.708l5.6-5.6l-5.6-5.6l.708-.708l5.6 5.6l5.6-5.6l.708.708l-5.6 5.6l5.6 5.6l-.708.708l-5.6-5.6l-5.6 5.6Z" />
                    </svg>
                </button>
                <input id="city_input" type="text" name="city_name" placeholder="Search" required
                    class="py-3 px-16 bg-[#284734] text-white w-full rounded-full focus:outline-none ">
                <button aria-label="submit search text" class="absolute left-5 top-3  cursor-pointer z-10"
                    onclick="sendForm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class=" text-white "  viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M9.5 4a6.5 6.5 0 0 1 6.5 6.5c0 1.62-.59 3.1-1.57 4.23l5.65 5.65l-.71.71l-5.65-5.65A6.469 6.469 0 0 1 9.5 17A6.5 6.5 0 0 1 3 10.5A6.5 6.5 0 0 1 9.5 4m0 1A5.5 5.5 0 0 0 4 10.5A5.5 5.5 0 0 0 9.5 16a5.5 5.5 0 0 0 5.5-5.5A5.5 5.5 0 0 0 9.5 5Z" />
                    </svg>
                </button>
            </form>
        </section>
    </main>

</body>

</html>