<%- include("partials/header.ejs") %>
<%- include("partials/functions.ejs") %>
        <form method="post" id="submit-city-name">
            <label for="city_name">
                <input id="city_input" type="text" name="city_name" placeholder="Search" onkeydown="enter" required>
            </label>
        </form>