<%- include("partials/header.ejs") %>
<body>
    <% if(locals.city) {%>
        <% console.log(city); %>
    <h1>Welcome to <%= city.name %></h1>
    <% } %>
    <% if(locals.weather) {%>
        <% console.log(weather); %>
    <h1>The weather is <%= weather.temp %> Celsius degree </h1>
    <% } %>
</body>