<%- include("partials/header.ejs") %>
    <!-- <% if(locals.city) {%>
    <h1>Welcome to <%= city.name %> City</h1>
    <% } %>
    <% if(locals.data) {%>
    <h1>The weather is <%= data.temp %> Celsius degree </h1>
    <% } %> -->
</body>